#d1{
    height: 20px;
    width:300px;
    background-color: aqua;
}
.d2{
    height: 20px;
    width:300px;
    background-color: green;
}
h1{
    height: 20px;
    width:300px;
    background-color:hotpink;
}